table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	border-collapse: collapse;
	text-align: center;
	margin: 0 auto;
}

th, td:nth-child(2) {
	background: #AFCDE7;
	color: white;
	padding: 10px 20px;
}

th, td {
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: white;
}

td {
	background: #D8E6F3;
	padding: 0 10px;
}

th:first-child, td:first-child {
	text-align: left;
}

#paginator {
	text-align: center;
	margin: 30px;
}

#paginator a {
	margin: 1px;
	background-color: #D8E6F3;
	color: #fff;
	padding: 5px;
}

#paginator a:hover {
	background: #AFCDE7;
}

#task-modal {
	position: fixed;
	top: 20%;
	left: 32%;
	width: 33%;
	text-align: center;
	background: #D8E6F3;
	box-shadow: 0 0 5px #999;
	padding: 15px;
	color: #444;
}